---
import Header from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;

const base = import.meta.env.BASE_URL;
const startCareer = 2022;
const experience = new Date().getFullYear() - startCareer;
const metaDescription = "Third-year Computer Science student with hands-on experience in team and personal projects, specializing in web and mobile development."
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={metaDescription} />
		<meta name="viewport" content="width=device-width" />
		<base href="/Portofolio/" />
		<link rel="icon" href={`${base}img/favicon.png`} type="image/png">

		<link rel="stylesheet" href={`${base}css/bootstrap.css`} />
    <link rel="stylesheet" href={`${base}css/font-awesome.min.css`} />
    <link rel="stylesheet" href={`${base}css/style.css`} />
		
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />

		<slot />

		<Footer />
	</body>
	<script src={`${base}js/jquery-3.2.1.min.js`}></script>
	<script src={`${base}js/popper.js`}></script>
	<script src={`${base}js/bootstrap.min.js`}></script>
	<script src={`${base}js/index.js?v=0.2`}></script>
	<script src={`${base}js/theme.js`}></script>
	<script is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</html>
